{% extends './navbar.html' %}
{% block content %}
<h2>Owner List</h2>
<form  action="{% url 'ownersearch' %}" method="get">
  {% csrf_token %}
  <input type="text" name="q" placeholder="Search Blog">
  <button type="submit" >Search</button>
</form>
<a href="{% url 'ownercreate' %}"><button>Add Owner</button></a>
<table id="owners">
  <tr>
    <th>Owner</th>
    <th>Phone</th>
    <th>Email</th>

  </tr>
  {% for owner in owner_list %}
  <tr>
  <tr>
    <td><a href="{% url 'ownerupdate' owner.id %}">{{ owner.first_name }} {{ owner.last_name }} </a></td>
      <td>{{ owner.phone }}</td>
      <td>{{ owner.email }}</td>
      
  </tr>
  {% endfor %}
</table>

{% endblock %}
