{% extends '../manager/navbar.html' %}

<head>
  

  <style>
    
    body {
      font-family: Arial;
    }
    .buttonS {
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .page {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content {
      text-align: center;
    }
  </style>
  {% block content %}
</head>

<body>
<div class="page">
    <div class="content">
      {% if is_authenticated %}
        <span><a href="#"style="font-size: 30px;">Logout</a></span>
      {% else %}
        <span><a href="#" style="font-size: 30px;">Login</a></span>
      {% endif %}
      <h2>Please login </h2>
      <form class="login" method="post">
        <div>
          {% csrf_token %} {{ form.as_p }}
          <input class="buttonS" type="submit" value="Login" />
          <a class="buttonS" href="{% url 'signup' %}">Signup</a>
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock %}