{% extends '../manager/base.html' %}
{% block content %}
<head>
  <style>
    body {
      font-family: Arial;
    }
    .buttonS {
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .page {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    .content {
      text-align: center;
    }
  </style>
</head>
<body>
<div class="page">
    <div class="content">
      <h2>Sign up</h2>
      <form class="signup" method="post">
         {% csrf_token %}
         {{ form.as_p }}
         <input type="submit" value="Signup"/>
      </form>
    </div>
  </div>
</body>
{% endblock %}

